@model LinkLibrary.Models.LoginViewModel


<h1>Login</h1>
<form action="http://localhost:52690/Login" method="post">
    <label for="UserName">UserName</label>
    <input type="text" name="UserName" />
    <label for="Password">Password</label>
    <input type="password" name="Password" />

    <input type="submit" name="sub" />
</form>